* {
  box-sizing: border-box;
  font-family: sans-serif;
}

main,
article,
footer {
  width: 100%;
}

main,
article,
footer,
.image-container,
.image-description {
  display: flex;
}

main {
  flex-wrap: wrap;
}

.width-50 {
  position: relative;
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .width-50 {
    width: 50%;
  }
}

article {
  margin: 10px;
  max-height: 300px;
  width: 100%;
  border: 0.5px solid #eeeeee;
  border-radius: 3px;
  box-shadow: 3px 4px rgba(237, 237, 237, 0.247);
}

footer {
  align-items: center;
  margin: 10px 0;
}

footer p {
  margin-left: 10px;
}

img {
  background: #000000;
  object-fit: cover;
  object-position: center;
}

.image-container {
  width: 35%;
  margin-right: 10px;
  max-width: 210px;
}

.image-description {
  width: 65%;
  flex-direction: column;
  padding: 10px;
}

.description {
  max-height: 70%;
  overflow: hidden;
}

.fish {
  width: 100%;
  border-radius: 3px 0 0 3px;
}

.photographer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

div,
footer {
  position: relative;
}
